

#city-container {
  color: white;
  background-image: url('images/sp.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#city-first-header {
  background-color: #5d533f;
  padding: 5px 15px;
  text-shadow: 0px 0px 1px black;
  margin-bottom: 15px;
  margin-top: -10px;
  border-radius: 10px;
}

#city-second-header {
  background-color: #4c433c;
  padding: 5px 7px 5px 7px;
  text-shadow: 0px 0px 1px black;
  margin: 0;
  width: 270px;
  border-radius: 10px;
  text-align: center;
}

#activities-first-container {
  background-color: #e4eae4;
  height: 344px;
}

#activities-first-header {
  color:#3A3427;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
}


.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.activities-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
  object-fit: cover;
}

.activities-second-header {
  color: #3A3427;
  width: 170px;
  margin-top: 20px;
}

.activities-paragraph {
  color: #3A3427;
  font-size: 13px;
  width: 200px;
  margin-top: -10px;
}

.activities-second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#guide-first-container {
height: 350px;
background-color: #eeefe9;
padding-top: 50px;
}



#guide-second-container {
  width: 400px;
  height: 300px;
  background-color: #C5C3BA;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-bottom: 6px solid #545456;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#guide-img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  margin: 10px 10px;
}

#guide-first-header, #guide-paragraph, #guide-second-header {
  color: #181610;
  text-align: center;
}

#guide-first-header {
  margin-top: 49px;
}

#guide-second-header {
  margin-bottom: 89px;
  margin-top: 0px;
}

#guide-paragraph {
  font-size: 12px;
  width: 189px;
  margin-bottom: 26px;
  font-style: italic;
}